// src/assets/styles/variables.scss
$card-gradient-start: rgba(64, 158, 255, 0.8);
$card-gradient-end: rgba(102, 177, 255, 0.8);
$login-gradient-start: rgba(240, 240, 240, 0.8);
$login-gradient-end: rgba(102, 177, 255, 0.8);
$text-color: rgba(17, 27, 37, 0.8);